<!doctype html>
<html lang="en">
<head>
    {{ include('headBack.html.twig') }}
</head>
<body>


{% block header %}{{ include('headerBack.html.twig') }} {% endblock header %}
{% block navbar %} {{ include('navbarBack.html.twig') }} {% endblock navbar %}
{% block pagesectionBack %}
drftyujik

{% endblock pagesectionBack %}

{% block footer %} {{ include('footerBack.html.twig') }} {% endblock footer %}
</body>
</html>