<div class="header-content-title">
    <div style="background-image: url{{ asset('images/parallax.jpg') }}; background-position: 50% 78.1106%;" data-source-url={{ asset('images/parallax.jpg') }}class="parallex">
    </div>
</div>